/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/css/*
/public/js/*
/public/vendor/*
/public/mix-manifest.json
/config/ray.php

.idea/
.vscode/
.history/
.DS_Store
.phpunit.cache

/auth.json
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/i18nally.json

.php_cs
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
coverage
testbench.yaml
coverage.xml
